
.details-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}   

.button-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}   
button{
    padding: 15px;
    margin-left: 0;
    background-color: #C7D9DD;
    color: #2C3E50;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px;
}
.post-time{
    font-size: 15px;
    margin-top: 5px;
}
.comments {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.comment {
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px solid #eee;
}

.comment:last-child {
    border-bottom: none;
}

.comment strong {
    display: block;
    font-weight: bold;
}

.comment p {
    margin: 5px 0;
}